# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.BB Tan Like.iml
# Datasource local storage ignored files
/../../../../../../../:\SAE\unity_project\BB Tan Like\.idea\.idea.BB Tan Like\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
